* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f5af00;   
    --second-color: #333333;
    --white-color: #fafafa;
    --title-color: #222222;
    --paragraph-color: #999999;

    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container {
    width: 97rem;
    margin: 0 auto;
}

/* HEADER */
/*
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
    background-color: transparent;

}
*/

body {
    background-color: var(--white-color);
}

/* HEADER MENU */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}

header.headerScroll {
    background-color: var(--white-color);
    height: 8rem;
    border-bottom: 1px solid #d6d6d6;
    transition: .4s;
}

header.headerScroll .menu ul a {
    color: var(--second-color);
}

header.headerScroll .menu ul a:hover {
    color: var(--primary-color);
}

header .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50rem;
}


header .menu ul {
    display: flex; 
    list-style: none;
    gap: 2rem;
    text-transform: uppercase;
}

header .menu ul a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 10rem;
    letter-spacing: 0.04;
    padding: 1rem;
}

.hide {
    display: none;
}

/* HOME */
.home {
    background-image: url(../img/1-section-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    text-align: center;
}

.home .div_overlay{
    background-color: rgba(51, 51, 51, 0.6);
    height: 100vh;

    display: flex;
    align-items: center;
}

/* HOME BANNER */

.home .container .banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .container .banner h1 {
    color: var(--white-color);
    font-size: 7rem;
    font-weight: 400;
}

.home .container .banner span {
    color: var(--white-color);
    font-family: 'Lora', serif;
    margin-bottom: 5.3rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;

}

.home .container .banner .btn {
    border: none;
    color: var(--second-color);
    background-color: var(--primary-color);
    padding: 1.6rem 3rem;
    border-radius: 8rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.home .container .banner .btn:hover{
    background-color: var(--second-color);
    color: var(--white-color);
    transition: .4s;
}

/* HEADING TITLE */
.heading-section {

    padding: 10rem;
    text-align: center;
    width: 75rem;
    margin: 0 auto;
}

.heading-section .titles {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: 2.7rem;
    color: var(--title-color);
    text-transform: capitalize;
}

.heading-section .paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--paragraph-color);
    line-height: 2.4rem;

}




/* SERVICES */

.services {
     margin-bottom: 10rem;
}


/* SERVICES CARDS */

.services .wrapper-cards {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 10rem;
    width: 100rem;
}

.services .wrapper-cards .card-service h4{
        color: var(--second-color);
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom: 1.3rem;
}

.services .wrapper-cards .card-service p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #999999;
    width: 20rem;
}

.services .wrapper-cards .card-service .icon {
    margin-bottom: 1.6rem;
}

/* WORK */

.work {
    background-color: #eeeeee;
    height: 950px;
}

.work .gallery-work {
    display: box;
    flex-wrap: wrap;
    gap: 20px;


}

.work .gallery-work img {
    width: 320px;
    padding: 16px;
}



/* SKILLS */
.skills .container {
    height: 40rem;
    display: flex;
    padding: 100px 0;

}

.skills .container .divOne{
    width: 50%;

}

.skills .container .divOne h2{
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: 2.7rem;
    color: var(--title-color);
    text-transform: capitalize;
}


.skills .container .divOne p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--paragraph-color);
    line-height: 2.4rem;
}

.skills .container .divTwo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills .divTwo .progress-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

}
.skills  .divTwo .progress{
    width: 400px;
    height: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.skills  .divTwo .progress div{
    height: 100%;
    width: 335px;
    background-color: #f5af00;
    border-radius: 5px;
}


/* CTA */

.cta {
    background-color: var(--primary-color);
    padding: 6rem;
}

.cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta .container h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--white-color);
}

.cta .container .btn-cta {
    border: 1px solid white;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 1.6rem 3rem;
    border-radius: 8rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

.cta .container .btn-cta:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: .4s;
}

/* TESTIMONIALS */

.testimonials .card-test {
    display: flex;
    gap: 4rem;
    margin-bottom: 10rem;
}

.testimonials .card-test .cards-test{
    display: flex;
    gap: 16px;
}

.testimonials .card-test .cards-test div img{
    border-radius: 50%;
    
}

.testimonials .card-test .cards-test div p {
    font-family: 'Lora', sans-serif;
    font-size: 1.6rem;
    line-height: 3.5rem;
    color: var(--paragraph-color);
    font-style: italic;
    margin-bottom: 2.9rem;
}
.testimonials .card-test .cards-test div span {
    font-weight: 700;
    font-size: 1.4rem;
}

/* MAP */

.map {
    height: 100%;    
} 

.map .contact {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    margin: 4rem 0;
    margin-bottom: 4rem;
}

.map .contact .contact-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.map .contact .contact-flex h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

.map .contact .contact-flex p {
    color: var(--paragraph-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}

/* FOOTER */
.footer {
    border-top: 1px solid #e5e5e5;
}

.footer .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 10rem;


}

.footer .container  .reserved {
    color: var(--paragraph-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-transform: capitalize;
}

.footer .container .icons-social {
    display: flex;
    gap: 1rem;
}

.footer .container .icons-social img{
    width: 1.6rem;
    height: 100%;
}
